<html>
	<head>
		<title>No fear first blog</title>
	</head>
	<body>
    	<div>
            <h1><a href="">The Zen of Python</a></h1>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <p>Beautiful is better than ugly.</br>
    Explicit is better than implicit.</br>
    Simple is better than complex.</br>
    Complex is better than complicated.</br>
    Flat is better than nested.</br>
    Sparse is better than dense.</br>
    Readability counts.</p>
        </div>
    </body>
</html>